body,h1,h2,div,p,span{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    display: flex;
    background-color: #010d65;
    color: white;
    flex-flow: column;
}

.header{
    display: flex;
    width: 100%;
    border-bottom: 2px solid white;
}
.name{
    font-size: 30px;
    color: gold;
    flex-grow: 3;
   margin: 10px 25px;
}

span{
    color: rgb(4, 238, 254);
}

.menu{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin: 10px 25px;
}

.menu a{
    display: block;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.main{
    display: flex;
    width: 100%;
}

.mainText{
    flex-grow: 1;
    padding: 200px 25px;
    font-size: 1.5em;
    line-height: 2.5em;

}


.me{
    margin: 90px 50px;
    background-color: #010d65;
    border: 5px solid white;
    border-radius: 250px;
    width: 500px;
    height: 500px;
    
}

.me:hover{
    transform: scale(1.1);
}

.header a:hover{
    color: rgb(0, 225, 255);
}

.socialMain{
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
}

.socialMain a{
    margin-top: 50px;
    width: 300px;
    height: 50px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    text-align: center;
}


.socialMain h1{
    font-size: 3em;
    margin-top: 50px;
    border-bottom:2px solid white;
    color: gold;
}

.socialMain a:nth-child(2):hover{
    background-color: #4267B2;
    border-radius: 20px;
    border: 1px solid white;
    transform: scale(1.1);
}
.socialMain a:nth-child(3):hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    border-radius: 20px;
    border: 1px solid white;
    transform: scale(1.1);
}
.socialMain a:nth-child(4):hover{
    background-color: #FFFC00;
    border-radius: 20px;
    border: 1px solid white;
    color: black;
    transform: scale(1.1);
}
.socialMain a:nth-child(5):hover{
    background-color: #229ED9;
    border-radius: 20px;
    border: 1px solid white;
    transform: scale(1.1);
}
.socialMain a:nth-child(6):hover{
    background-color: #14171A;
    border-radius: 20px;
    border: 1px solid white;
    transform: scale(1.1);
}

.endLine{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 350px;
    height: 0px;
    border-top: 2px solid white;
}

.Home{
    display: block;        
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin: auto 25px;
}
.endLine1{
    display: none;
}
#button{
    display: none;
}
@media screen and (max-width: 750px){
    
    .menu{
        flex-grow: 0.1;
        justify-content: center;
        flex-flow: column;
    }
    .menu button{
        width: 25px;
        height: 25px;
        margin: 0px;
        background-color: #010d65;
        color: white;
        border: none;
        cursor: pointer;
    }
    .menu a{
        display: none;
    }

    .main{
        flex-direction: column-reverse;
        align-items: center;
    }
    .me{
        margin-top: 100px;
        width: 250px;
        height: 250px;
        margin-top: 0px;
    }

    .mainText{
        margin-top: 20px;
        flex-grow: 1;
        padding: 0px;
        font-size: 1.3em;
    }
    .mainText h1,h2,p{
        text-align: center;
    }

    .endLine1{
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 350px;
        height: 0px;
        border-top: 2px solid white;
    }

    #button{
        display: block;
    }

    .socialMain a:nth-child(2){
        background-color: #4267B2;
        border-radius: 20px;
        border: 1px solid white;
        transform: scale(1.1);
    }
    .socialMain a:nth-child(3){
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        border-radius: 20px;
        border: 1px solid white;
        transform: scale(1.1);
    }
    .socialMain a:nth-child(4){
        background-color: #FFFC00;
        border-radius: 20px;
        border: 1px solid white;
        color: black;
        transform: scale(1.1);
    }
    .socialMain a:nth-child(5){
        background-color: #229ED9;
        border-radius: 20px;
        border: 1px solid white;
        transform: scale(1.1);
    }
    .socialMain a:nth-child(6){
        background-color: #14171A;
        border-radius: 20px;
        border: 1px solid white;
        transform: scale(1.1);
    }
    
    .header{
        border: 0px;
    }
}